<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    color: blue;
    font-family: verdana;
    font-size: 160%;
}
p  {
    color: green;
    font-family: arial;
    font-size: 100%;
}
</style>
</head>

</html>
